@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  overflow: hidden;
  max-height: 100vh;
  /* background-color: #2f3e46; */
  /* background-color: #2a9d8f; */
  /* color: white; */
  color: black;
}

li {
  text-decoration: none;
  list-style-type: none;
}

img {
  width: 100%;
}
